In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('cars.csv')
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

In [3]:
df.shape

(432, 15)

In [4]:
df.isnull()

      Make  Model   Type  Origin  ...  MPG_Highway  Weight  Wheelbase  Length
0    False  False  False   False  ...        False   False      False   False
1    False  False  False   False  ...        False   False      False   False
2    False  False  False   False  ...        False   False      False   False
3    False  False  False   False  ...        False   False      False   False
4    False  False  False   False  ...        False   False      False   False
..     ...    ...    ...     ...  ...          ...     ...        ...     ...
427  False  False  False   False  ...        False   False      False   False
428  False  False  False   False  ...        False   False      False   False
429  False  False  False   False  ...        False   False      False   False
430  False  False  False   False  ...        False   False      False   False
431  False  False  False   False  ...        False   False      False   False

[432 rows x 15 columns]

In [5]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [6]:
df['Cylinders'].fillna(df['Cylinders'].mean(),inplace=True)

In [7]:
df['Length'].fillna(df['Length'].mean(),inplace=True)

In [8]:
df['Weight'].fillna(df['Weight'].mean(),inplace=True)

In [9]:
df['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Mitsubishi       13
Dodge            13
Jaguar           12
Hyundai          12
Volvo            12
Pontiac          11
Kia              11
Mazda            11
Lexus            11
Subaru           11
Lincoln           9
Buick             9
Mercury           9
Cadillac          8
Saturn            8
Suzuki            8
Infiniti          8
GMC               8
Saab              7
Porsche           7
Acura             7
Oldsmobile        3
Jeep              3
Land Rover        3
Isuzu             2
MINI              2
Scion             2
Hummer            1
Name: Make, dtype: int64

In [10]:
df['Origin'].value_counts()

Asia      158
USA       147
Europe    123
Name: Origin, dtype: int64

In [11]:
df[df['Origin'].isin(['Asia','Europe'])]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[281 rows x 15 columns]

In [14]:
df[(df['Weight']<4000)]

      Make                    Model   Type  ...  Weight Wheelbase Length
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5    Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[329 rows x 15 columns]

Add value by 3 in column mpg_city

In [15]:
df['MPG_City']=df['MPG_City'].apply(lambda x:x+3)

In [16]:
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]